<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC73M7Ew6HdP3Co3VPa75B6KC9aV-EWNeo</string>
	<key>GCM_SENDER_ID</key>
	<string>849872182952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echo10th.echo10th</string>
	<key>PROJECT_ID</key>
	<string>echo10th-3244f</string>
	<key>STORAGE_BUCKET</key>
	<string>echo10th-3244f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849872182952:ios:294d7a3d01ef5839a8ec9d</string>
</dict>
</plist>